In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/vivan/Desktop/Central File Manager/02 USC/02 Semester 2/01 DSO 530 Applied Modern Statistical Learning Methods - Machine Learning/project_new/Insurance_claims/02_Exploration_notebook'

In [5]:
os.getcwd()[:-23] + '01_Data'

'/Users/vivan/Desktop/Central File Manager/02 USC/02 Semester 2/01 DSO 530 Applied Modern Statistical Learning Methods - Machine Learning/project_new/Insurance_claims/01_Data'

In [6]:
os.chdir(os.getcwd()[:-23] + '01_Data')

In [8]:
insurance_test = pd.read_csv('insurance_test.csv')

In [10]:
insurance_test.columns

Index(['X.2', 'X.3', 'X.4', 'X.5', 'X.6', 'X.7', 'X.8', 'X.9', 'X.10', 'X.11',
       'X.12', 'X.13', 'X.14', 'X.19', 'X.20', 'X.21', 'X.22', 'X.23', 'X.24',
       'X.25', 'X.26', 'X.27', 'X.28'],
      dtype='object')

In [11]:
final_column_name = [ 
               'Start_Date_Contract', 
               'Date_Last_Renewal', 
               'Date_Next_Renewal', 
               'Date_Of_Birth', 
               'Date_Of_DL_Issuance', 
               'Issurance_Broker_Agent_Channel', 
               'Years_Associates',
               'Total_Policies_Entity',
               'Max_Policy_Simultaneous_Force',
               'Max_Product_Simultaneous_Held',
               'Policies_Terminated_Non_Payment',
               'Half_Yearly_Payment_Method',
               'Premium_Amt_Current_Yr',
               'Motorbikes_Vans_Cars_Agricultural',
               'Rural_Urban_Flag',
               'Multiple_Drivers_Regular_Flag',
               'Yr_Vehicle_Registration',
               'Vehicle_Power_HP',
               'Cylinder_Capacity',
               'Market_Value_EOY19',
               'Vehicle_Doors',
               'Energy_Source',
               'Vehicle_Wt_Kg'
               ]

rename_dict = dict(zip(list(insurance_test.columns), final_column_name))
rename_dict

{'X.2': 'Start_Date_Contract',
 'X.3': 'Date_Last_Renewal',
 'X.4': 'Date_Next_Renewal',
 'X.5': 'Date_Of_Birth',
 'X.6': 'Date_Of_DL_Issuance',
 'X.7': 'Issurance_Broker_Agent_Channel',
 'X.8': 'Years_Associates',
 'X.9': 'Total_Policies_Entity',
 'X.10': 'Max_Policy_Simultaneous_Force',
 'X.11': 'Max_Product_Simultaneous_Held',
 'X.12': 'Policies_Terminated_Non_Payment',
 'X.13': 'Half_Yearly_Payment_Method',
 'X.14': 'Premium_Amt_Current_Yr',
 'X.19': 'Motorbikes_Vans_Cars_Agricultural',
 'X.20': 'Rural_Urban_Flag',
 'X.21': 'Multiple_Drivers_Regular_Flag',
 'X.22': 'Yr_Vehicle_Registration',
 'X.23': 'Vehicle_Power_HP',
 'X.24': 'Cylinder_Capacity',
 'X.25': 'Market_Value_EOY19',
 'X.26': 'Vehicle_Doors',
 'X.27': 'Energy_Source',
 'X.28': 'Vehicle_Wt_Kg'}

In [12]:
insurance_test = insurance_test.rename(columns=rename_dict)
insurance_test.head()

,Start_Date_Contract,Date_Last_Renewal,Date_Next_Renewal,Date_Of_Birth,Date_Of_DL_Issuance,Issurance_Broker_Agent_Channel,Years_Associates,Total_Policies_Entity,Max_Policy_Simultaneous_Force,Max_Product_Simultaneous_Held,...,Motorbikes_Vans_Cars_Agricultural,Rural_Urban_Flag,Multiple_Drivers_Regular_Flag,Yr_Vehicle_Registration,Vehicle_Power_HP,Cylinder_Capacity,Market_Value_EOY19,Vehicle_Doors,Energy_Source,Vehicle_Wt_Kg
0,23/06/2017,23/06/2018,23/06/2019,13/09/1982,03/02/2011,0,2,2,2,1,...,3,1,0,2003,115,1910,16400.00,5,D,1305
1,29/06/2015,29/06/2016,29/06/2017,07/07/1946,12/08/1966,0,2,1,1,1,...,3,0,0,1999,90,1597,13480.70,5,P,1083
2,14/03/2018,14/03/2018,14/03/2019,26/12/1957,02/09/1977,0,1,4,4,2,...,3,0,0,2003,143,2148,36500.00,5,D,1495
3,16/10/2014,16/10/2018,16/10/2019,27/02/1961,29/10/1980,1,5,1,1,1,...,2,1,0,1998,60,1686,12356.81,5,D,1010
4,01/07/2015,01/07/2017,01/07/2018,03/07/1986,02/08/2006,0,3,1,1,1,...,3,0,0,2015,66,998,11800.00,5,P,933

In [14]:
# making date by parsing
date_columns = [
    'Start_Date_Contract',
    'Date_Last_Renewal', 
    'Date_Next_Renewal', 
    'Date_Of_Birth', 
    'Date_Of_DL_Issuance',
]

# putting it -- in data format
for i in date_columns:
    insurance_test[i] = pd.to_datetime(insurance_test[i], format= "%d/%m/%Y")

insurance_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15787 entries, 0 to 15786
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Start_Date_Contract                15787 non-null  datetime64[ns]
 1   Date_Last_Renewal                  15787 non-null  datetime64[ns]
 2   Date_Next_Renewal                  15787 non-null  datetime64[ns]
 3   Date_Of_Birth                      15787 non-null  datetime64[ns]
 4   Date_Of_DL_Issuance                15787 non-null  datetime64[ns]
 5   Issurance_Broker_Agent_Channel     15787 non-null  int64
 6   Years_Associates                   15787 non-null  int64
 7   Total_Policies_Entity              15787 non-null  int64
 8   Max_Policy_Simultaneous_Force      15787 non-null  int64
 9   Max_Product_Simultaneous_Held      15787 non-null  int64
 10  Policies_Terminated_Non_Payment    15787 non-null  int64
 11  Half_Yearly_Payment_Method         15787 non-null  int64
 12  Premium_Amt_Current_Yr             15787 non-null  float64
 13  Motorbikes_Vans_Cars_Agricultural  15787 non-null  int64
 14  Rural_Urban_Flag                   15787 non-null  int64
 15  Multiple_Drivers_Regular_Flag      15787 non-null  int64
 16  Yr_Vehicle_Registration            15787 non-null  int64
 17  Vehicle_Power_HP                   15787 non-null  int64
 18  Cylinder_Capacity                  15787 non-null  int64
 19  Market_Value_EOY19                 15787 non-null  float64
 20  Vehicle_Doors                      15787 non-null  int64
 21  Energy_Source                      15787 non-null  object
 22  Vehicle_Wt_Kg                      15787 non-null  int64
dtypes: datetime64[ns](5), float64(2), int64(15), object(1)
memory usage: 2.8+ MB